<div class="content" id="content">
    <div class="container d-flex flex-column justify-content-center">
        <h1 class="content-title" id="content-title">
        </h1>
        <div class="form-input">
            <input type="text" class="form-control" placeholder="Название..." id="category-name">
        </div>
        <div class="form-action" id="form-action">
            <button class="btn btn-success" id="create-edit">Создать</button>
            <button class="btn btn-danger" id="cancel">Отмена</button>
        </div>
    </div>
</div>


