<div class="popup" id="popup">
    <div class="popup-window">
        <div class="popup-title">
            Вы действительно хотите удалить категорию? Связанные расходы будут удалены навсегда.
        </div>
        <div class="popup-action">
            <button class="btn btn-success" id="btn-remove">Да, удалить</button>
            <button class="btn btn-danger" id="btn-close">Не удалять</button>
        </div>
    </div>
</div>

<div class="container d-flex m-0">


    <div class="content" id="content">
        <div class="container d-flex flex-column">
            <h1 class="content-title" id="content-title"></h1>
            <div class="categories" id="categories"></div>
        </div>
    </div>
</div>

