<div class="popup" id="popup">
    <div class="popup-window">
        <div class="popup-title">
            Вы действительно хотите удалить операцию?
        </div>
        <div class="popup-action">
            <button class="btn btn-success" id="remove">Да, удалить</button>
            <button class="btn btn-danger" id="btn-close">Не удалять</button>
        </div>
    </div>
</div>

<div class="content" id="content">
    <div class="container d-flex flex-column justify-content-center">
        <h1 class="content-title" id="content-title">
            Доходы и расходы
        </h1>
        <div class="add-category">
            <a href="#/add-income" class="btn btn-success btn-income">Создать доход</a>
            <a href="#/add-expense" class="btn btn-danger">Создать расход</a>
        </div>
        <div class="period" id="period"></div>
        <div class="operations" id="operations">
            <div class="operations-title">
                <span>№ операции</span>
                <span>Тип</span>
                <span>Категория</span>
                <span>Сумма</span>
                <span>Дата</span>
                <span>Комментарий</span>
            </div>
            <div class="operations-items" id="operations-items">
            </div>
        </div>
    </div>
</div>

