<div class="main">
    <div class="container d-flex flex-column justify-content-center">
        <h1 class="main-title" id="main-title">
            Главная
        </h1>
        <div class="period" id="period">
        </div>
        <div class="main-info">
            <div class="canvas">
                <canvas id="income"></canvas>
            </div>
            <div class="main-info-line"></div>
            <div class="canvas">
                <canvas id="expenses"></canvas>
            </div>
        </div>
    </div>
</div>


